body {
	color: #555;
	background: #000000 url(/img/background.jpg);
	margin: 50px;
}

.panel > * {
	-moz-box-shadow: -1px 0 0px rgba(255,255,255,0.1);
	-webkit-box-shadow: -1px 0 0px rgba(255,255,255,0.1);
	box-shadow: -1px 0 0px rgba(255,255,255,0.1);
}

.list-item {
	height: 80px;
	border-top: 1px solid #000;
	padding: 12px 16px;
/*
	background-color: #333333;
*/
	position: relative;
	color: #f5f5f5;
}

.list-item-label {
	font-size: 24px;
	line-height: 60px;
	padding-left: 30px;
}

.list-item-desc {
	position: absolute;
	font-size: 14px;
	line-height: 20px;
	padding-left: 30px;
	color: #ccc;
}

.list-item-left {
	position: absolute;
	line-height: 80px;
	top: 35px;
	right: 30px;
}

.toolbar-pull-right {
	float: right;
}

.popup-dialog {
	text-align: center;
}
