.stemin-system-panel {
	padding: 10px;
}

.field-label {
	width: 100pt;
	text-align: right;
	padding-right: 30px;
	margin: 0px;
	margin-right: 10px;

	border-right: 1px solid rgba(255,255,255,.2);
	font-weight: bold;
	color: rgba(255,255,255,.5);
	text-shadow: 0 0 4px rgba(0,0,0,.5);
}

.onyx-input-decorator.onyx-focused .field-label {
	color: rgb(255,255,255);
}

.field-inputbox {
}
