
.stemin-menu {
	background-color: #eee;
	background-image: url(/img/normal-bg.png);
}

.stemin-menu-item {
	height: 32px;
	border-top: 1px solid #bbb;
	padding: 10px;
	position: relative;
	color: #333333;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}

.stemin-menu-item.onyx-selected {
	background-color: #263854;
	background-image: url(/img/highlight-bg.png);
	color: white;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.8);

	-moz-box-shadow: inset 0px 3px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 3px 4px rgba(0,0,0,0.3);
	box-shadow: inset 0px 3px 4px rgba(0,0,0,0.3);
}

.stemin-menu-item-icon {
}

.stemin-menu-item-label {
	position: absolute;
	font-size: 14px;
	line-height: 32px;
	padding-left: 42px;
	padding-top: 10px;
	top: 0px;
}
