
.stemin-menu {
}

.stemin-menu-item {
	height: 32px;
	padding: 10px;
	position: relative;
	color: white;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.stemin-menu-item.onyx-selected {

	-moz-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.1);
}

.stemin-menu-item-icon {
}

.stemin-menu-item-label {
	position: absolute;
	font-size: 14px;
	line-height: 32px;
	padding-left: 42px;
	padding-top: 10px;
	top: 0px;
}
